{% extends "base.html" %}

{% block title %}{% if stockData %}{{ stockData.Symbol }} - {{ stockData.Name }}{% endif %}{% endblock %}

{% block content %}
<div class='row data-container clearfix'>
    <div class='col-md-3 col-sm-4'>
        <div class='stock-info-box'>
            <h4>Stock Info</h4>
            <table>
                <tbody>
                    {% if stockData %}
                        {% for stockInfoLabel, stockInfoValue in stockData.items() %}
                        <tr>
                            <td>{{ stockInfoLabel }}</td><td>{{ stockInfoValue }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='col-md-6 col-sm-8'>
        <div class='stock-graph-box'>
            <h4>Stock Performance</h4>
            {{ chart | safe }}
        </div>
    </div>
    <div class='col-md-3 col-sm-12'>
        <div class='stock-predict-box'>
            <h4>Stock Prediction</h4>
            <table class='predict-data'>
                <tbody>
                {% if predictData %}
                   {% for predictTime, predictPrice in predictData.items() %}
                   <tr>
                       <td>{{ predictTime }}</td><td>{{ '$%.2f' | format(predictPrice) }}</td>
                   </tr>
                   {% endfor %}
               {% endif %}
                </tbody>
            </table>
            <table class='recommendation'>
                <tbody>
                {% if recommendation %}
                    <tr>
                        <td class='text-label'>Recommendation</td>
                    </tr>
                    <tr>
                        <td class='advice' style='color:{{ recommendation['Color'] }}'>{{ recommendation['Text'] }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
